@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow|Teko:400,500,700');
@import "prop-spinner";

body {
    overflow: hidden;
}

.page, .hero-page {
    padding-top: 110px;
    padding-bottom: 100px;
    background: $body-bg;
}
.hero-page {
    padding-top: 1rem;
}

#vintage-v12s-logo-big {
    position: relative;
    height: 0;
    z-index: 1010;
}

.padded {
    margin-top: 31px;
}

.heading-pad {
    margin-top: 31px;
}

.wrapper-main {
    margin-top: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-to {
    opacity: 0
}

.fade {
    transition: opacity .4s linear;
}

.block-responsive {
    img {
        @include img-fluid();
    }
}

nav.navbar {
    font-family: $font-family-alternate;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    z-index: 1000;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.subhead {
    font-weight: 400;
    margin: -20px 0 0 0;
}

.layer-over-center {
    z-index: 2000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-under {
    pointer-events: none;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    position: absolute;
    z-index: 100;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0);
}

.fade-highlight {
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}

.section-inverse {
    color: $gray-100;
}

.bar {
    background-color: #494c33;
    box-shadow: 1px 0 10px #222;
    position: relative;
    overflow: hidden;
}

.bar-pos {
    position: absolute;
    z-index: 995;
}

.bar-vertical {
    width: 95px;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    display: none;
    padding-top: 88px;
    padding-left: 6px;
}

// .bar-horizontal {
//     width: 100%;
//     height: 95px;
//     top: 377px;
//     display: none;
//     z-index: 12;
// }


@media (min-width: 1400px) {
    .bar-vertical {
        display: block !important;
    }
}
// @media (max-width: 1400px) {
//     .bar-horizontal {
//         display: block !important;
//     }
//     .content-section {
//         margin-top: 95px;
//     }
// }
//

//
// OVERRIDES
//
.btn {
    font-family: $font-family-alternate;
}

@include media-breakpoint-up(sm) {
  h2 {
    font-size: $h2-font-size * .75;
  }
}

@include media-breakpoint-up(md) {
  h2 {
    font-size: $h2-font-size * .8;
  }
}

