<template>
<div :id="carouselId" class="carousel slide">
    <div class="carousel-inner">
        <slot>
            <transition name="fade">
                <div
                    class="carousel-item active"
                    v-for="(item, index) in content"
                    v-if="index === $root.state.carouselStart"
                    v-bind:key="item.sys.id">
                    <img
                        class="d-block w-100"
                        :src="item.fields.file.url"
                        :title="item.fields.title" />
                </div>
            </transition>
        </slot>
    </div>
    <a class="carousel-control-prev" :href="'#' + carouselId" role="button" @click="control('prev')">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" :href="'#' + carouselId" role="button" @click="control('next')">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</template>

<script>
export default {
    name: 'carousel',
    props: {
        config: {
            default: () => ({})
        },
        start: {
            default: 0
        },
        content: {
            default: () => ([])
        },
        id: {}
    },
    data() {
        return {
            activeId: this.start || 0
        }
    },
    computed: {
        carouselId() {
            let id = this.id || Math.floor(Math.random(200)*1000)
            return 'v-carousel-' + id;
        },
        loading() {
            if (this.content)
                return false
            else
                return true
        }
    },
    methods: {
        control(dir) {
            let totalItems = this.content.length - 1
            // if content is entered through slot instaed of passing an array of items
            if (this.totalItems === 0) {
                totalItems = this.$el.children[0].children.length - 1
            }
            if (dir === 'next') {
                if (this.activeId < totalItems) {
                    this.activeId += 1
                } else {
                    this.activeId = 0
                }
            } else if (dir === 'prev') {
                if (this.activeId > 0) {
                    this.activeId -= 1
                } else {
                    this.activeId = totalItems
                }
            }
            store.changeCarouselStart(this.activeId)
            this.size()
        },
        size() {
            this.$el.children[0].children[0].style.height = this.$el.children[0].children[0].children[0].getBoundingClientRect().height + 'px'
        }
    }
}
</script>

<style lang="scss">
@import "~bootstrap/scss/functions";
@import "../styles/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/carousel";

.carousel-inner {
    overflow: visible;
    height: 500px;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
}
.carousel-caption {
    text-align: left;
    background: rgba(darken($navy-blue, 10%), 0.6);
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 200px;
}
</style>
