<template>
<div class="contact-form">
    <form id="contact-us-form" v-on:submit.prevent="submitContactForm" v-if="!formSubmit">
        <div class="form-group">
            <input id="nameField" required name="name" class="form-control" type="text" placeholder="Your full name" maxlength="40" minlength="3" v-model="nameField" />
        </div>
        <div class="form-group">
            <input id="emailField" required autocomplete="email" name="email" class="form-control" type="email" placeholder="Your email" v-model="emailField" maxlength="128" />
        </div>
        <div class="form-group">
            <textarea id="messageField" required name="message" class="form-control" rows="4" placeholder="Your Message" v-model="messageField" minlength="3" maxlength="384"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" :disabled="sendingMessage">Send
            <span v-if="sendingMessage" aria-busy='true' aria-label='Loading' role='progressbar'></span>
        </button>
        <span v-if="messageSendError" class="text-warning">Something went wrong, please try again.</span>
    </form>
    <div v-else>Thank you for your interest in Vintage V12's.<br> We will follow up with you soon.</div>
</div>
</template>

<script>
const apigClientFactory = require('aws-api-gateway-client').default;
const hyperform = require('hyperform/dist/hyperform.cjs');
hyperform(window, {
    classes: {
        warning: 'text-warning',
        valid: 'text-success',
        invalid: 'text-danger',
        validated: 'text-info',
    }
});

export default {
    name: 'contact-form',
    data() {
        return {
            nameField: '',
            emailField: '',
            messageField: '',
            sendingMessage: false,
            messageSendError: false,
            formSubmit: window.contactFormSubmitted || false
        }
    },
    methods: {
        submitContactForm: function(e) {
            const self = this;
            self.sendingMessage = true;
            self.messageSendError = false;
            const apigClient = apigClientFactory.newClient({
                invokeUrl: 'https://xuz7a6csml.execute-api.us-west-2.amazonaws.com/development',
                apiKey: 'MfAVnfCDZv7Q8QM6cwWrBNZCaq8prCx2AcbTJy1b'
            });
            self.messageField =
                self.messageField.replace(/(<script>|<|>)/ig, '');
            const params = {};
            const pathTemplate = '/contact-us'
            const method = 'POST';
            const additionalParams = {};
            const body = {
                name: this.nameField,
                email: this.emailField,
                message: this.messageField
            };
            apigClient.invokeApi(params,
                pathTemplate, method, additionalParams, body)
            .then(function(result) {
                self.sendingMessage = false;
                if (result.data && result.data.errorMessage) {
                    self.messageSendError = true;
                } else {
                    self.formSubmit = window.contactFormSubmitted = true;
                }
            }).catch( function(result) {
                self.sendingMessage = false;
                self.messageSendError = true;
            });
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
</style>
