<template>
    <div id="footer">
        <div class="container py-5">
            <div class="row">
                <div class="col hidden-xs">
                    <img src="../assets/v12_merlin_restore.png" class="img-fluid" />
                </div>
                <div class="col no-gutters">
                    <nav class="nav flex-column">
                        <router-link v-for="(item, index) in navigation" v-if="index < 3" :key="item.slug" :to="'/' + item.slug" class="nav-link">{{item.title}}</router-link>
                    </nav>
                </div>
                <div class="col no-gutters">
                    <nav class="nav flex-column">
                        <router-link v-for="(item, index) in navigation" v-if="index > 2" :key="item.slug" :to="'/' + item.slug" class="nav-link">{{item.title}}</router-link>
                    </nav>
                </div>
                <div class="col">
                    <img src="../assets/old-v12s-logo-bw.png" class="img-fluid" title="Vintage V-12's" alt="Old Vintage V-12's Logo" />
                </div>
                <div class="col">
                    <img src="../assets/v12s-engine-decal-bw.png" class="img-fluid" title="Vintage V-12's Engine Decal" alt="Vintage V-12's Engine Decal" />
                </div>
                <div class="col">
                    <img src="../assets/vintage-carburetors-logo-bw.png" class="img-fluid" title="Vintage Carburetors" alt="Vintage Carburetors Logo" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'footerNav',
        data() {
            return {
                navigation: this.$root.siteMeta.footerNav.items,
                mainMenu: this.$root.siteMeta.mainMenu
            }
        },
        computed: {
        },
        methods: {
        }
    };
</script>

<style lang="scss">
    @import '~bootstrap/scss/functions';
    @import '../styles/variables';

    #footer {
        font-family: $font-family-alternate;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        color: $gray-900;
        min-height: 200px;
        background-color: $gray-600;
        padding-bottom: 60px;
        .vintage-family-text {
            margin-top: 10px;
        }
        p {
            margin: 0 0 0 0;
            line-height: 1.2em;
        }
        a:link, a:active, a:focus, a:hover, a {
            color: #111;
            font-size: $h6-font-size;
            text-transform: uppercase;
            font-weight: 400;
            font-family: $font-family-alternate;
            white-space: nowrap;
        }
        a:hover {
            color: darken($navbar-dark-hover-color, 10%);
        }
        .container .row div.v12s-restoration-and-rebuilding-company {
            p {
                text-align: center;
                font-size: $h6-font-size;
                padding: 7px 0;
            }
        }
    }
</style>
