<template>
    <div>
        <transition-group
            appear
            class="gallery row"
            name="staggered-fade"
            tag="div"
            mode="out-in"
            v-bind:css="false"
            v-on:before-enter="beforeEnter"
            v-on:enter="enter"
            v-on:leave="leave">
            <div class="col-lg-3 col-sm-4 col-xs-6 gallery-item"
                v-if="mediaGallery.galleryItems"
                v-for="(image, index) in mediaGallery.galleryItems"
                v-bind:key="image.sys.id"
                v-bind:data-index="index">
                <div class="d-block mb-4 h-100">
                    <img class="img-fluid"
                        :src="image.fields.file.url"
                        :title="image.fields.title"
                        v-on:click="showModal">
                </div>
            </div>
        </transition-group>
        <modalGallery :config="mmcConfig" :show="modalShow">
            <carousel :content="mediaGallery.galleryItems" :config="mmcConfig"></carousel>
        </modalGallery>
    </div>
</template>

<script>
import ModalGallery from './Modal-Gallery'
export default {
    props: {
        mediaGallery: {default: []}
    },
    name: 'gallery-grid',
    componenets: {
        'modal-gallery': ModalGallery
    },
    data() {
        return {
            modalShow: false,
            mmcConfig: {
                interval: false
            }
        }
    },
    methods: {
        showModal(e) {
            const idx = $(e.target).parents('div').parents('div').index()
            const id = parseInt(idx)
            store.changeCarouselStart(id)
            this.modalShow = !this.modalShow
        },
        beforeEnter: function(el) {
            el.style.opacity = 0
            el.style.maxHeight = 0
        },
        enter: function(el, done) {
            const delay = el.dataset.index * 150
            setTimeout(function() {
                $(el).animate({opacity: 1, maxHeight: '100%'}, 300, done)
            }, delay)
        },
        leave: function(el, done) {
            const delay = el.dataset.index * 150
            $(el).animate({opacity: 0, maxHeight: 0}, 1, done)
        }
    }
}
</script>

<style lang="scss" scoped>
.gallery {
    padding: 0 100px;
    .gallery-item {
        overflow: hidden;
    }
}
.gallery-item {
    &:hover {
      cursor: pointer;
    }
}
</style>
