<template>
    <div :class="{'hero-section': true, 'bump-content': bumpcontent}">
        <!--div class="hero-section jumbotron jumbotron-fluid mb-4" :style="{backgroundImage: 'url(' + image + ')'}" v-if="image"-->
        <img :src="image" class="hero-image" v-if="image">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        image: undefined,
        bumpcontent: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style lang="scss">
.hero-section {
    background-position: center center;
    background-repeat: no-repeat;
    height: 375px;
    margin: 0;
    overflow: hidden;
    & > .container > .row {
        height: 275px;
        padding-bottom: 2rem;
    }
}
.hero-image {
    opacity: .4;
    width: 100%;
    height: auto;
    @media screen and (max-width: 488px) {
        height: 275px;
        width: auto;
    }
}
.bump-content {
    height: auto !important;
    margin-bottom: 2rem;
}

</style>
