<template>
    <div>
        <div class="modal" id="media-modal" role="dialog" :class="showModal" @click="modalHide">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <slot></slot>
                    </div>
                </div>
            </div>
        </div>

        <div :class="{'modal-backdrop': true, hide: showModal === 'hide', show: showModal === 'show'}" @click="modalHide"></div>
    </div>
</template>

<script>
export default {
    name: 'modalGallery',
    props: {
        show: {
            default: false
        }
    },
    data() {
        return {
            showModal: this.show && 'show' || 'hide'
        }
    },
    watch: {
        show() {
            this.modalShow()
        }
    },
    methods: {
        modalShow(id) {
            this.showModal = 'show'
        },
        modalHide(e) {
            if (e.target.id === 'media-modal')
                this.showModal = 'hide'
        }
    }
}
</script>

<style lang="scss">
#media-modal {
    padding-left: 0 !important;
    .modal-dialog {
        width: 100%;
        max-width: 95%;
    }
    .modal-content {
        background: rgba(#000, 0.5);
    }
    .modal-header {
        padding: 0 15px;
        border-bottom: 0 none;
        .close {
            color: #fff;
        }
    }
}
.modal-backdrop {
    display: none;
}
.hide {
    display: none;
}
.show {
    display: block;
}
</style>
