<template>
    <div class="layer-over-center" v-if="loading || error">
        <transition name="fade">
            <div v-if="loading">
                <div class="loading h3">Loading...</div>
            </div>
        </transition>

        <transition name="fade">
            <div v-if="error">
                <div class="alert alert-danger">{{error}}</div>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    name: 'notifications',
    props: {
        loading: {
            default: true
        },
        error: {
            default: null
        }
    },
    mounted() {
        let self = this;
        setTimeout(function() {
            self.show = true;
        }, 500);
    }
};
</script>

<style lang="scss">
</style>
