<template>
    <div class="stack">
        <div class="scroll" :is="$props.tagname" @mouseover.once="update" @ps-scroll-y="scrollHandle" @ps-scroll-x="scrollHandle" @ps-scroll-up="scrollHandle" @ps-scroll-down="scrollHandle" @ps-scroll-left="scrollHandle" @ps-scroll-right="scrollHandle" @ps-y-reach-start="scrollHandle" @ps-y-reach-end="scrollHandle" @ps-x-reach-start="scrollHandle" @ps-x-reach-end="scrollHandle">
            <slot>Loading...</slot>
        </div>
    </div>
</template>

<script>
import PerfectScrollbar from 'perfect-scrollbar/dist/perfect-scrollbar'
export default {
    name: 'scroller',
    props: {
        scroll: {
            default: 0
        },
        settings: {
            default: undefined
        },
        switcher: {
            type: Boolean,
            default: true,
        },
        tagname: {
            type: String,
            default: "section"
        }
    },
    data() {
        return {
            scrollBar: null
        }
    },
    methods: {
        scrollHandle(evt) {
            this.$emit(evt.type, evt)
        },
        update() {
            this.$el.children[0].scrollTop = 0
            this.scrollBar.update()
        },
        __init() {
            if (this.switcher) {
                if (!this._ps_inited) {
                    this._ps_inited = true
                    this.scrollBar = new PerfectScrollbar(this.$el.children[0], this.settings)
                } else {
                    this.update()
                }
            }
        },
        __uninit() {
            this.scrollBar.destroy()
            this._ps_inited = false
        },
    },
    watch: {
        switcher(val) {
            if (val && !this._ps_inited) {
                this.__init()
            }
            if (!val && this._ps_inited) {
                this.__uninit()
            }
        },
        $route() {
            this.update()
        },
    },
    mounted() {
        // for support ssr
        if (!this.$isServer) {
            this.__init()
        }
    },
    updated() {
        this.$nextTick(this.update)
    },
    activated() {
        this.__init()
    },
    deactivated() {
        this.__uninit()
    },
    beforeDestroy() {
        this.__uninit()
    }
}
</script>

<style>
    html, body { height:100%; width:100%; }
    .scroll {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 80px;
        left: 0;
        bottom: 0;
        right: 0;
    }
</style>
