<template>
    <default-layout :page="page">
        <div class="row">
   <div class="col-md-12">
      <h1 id="about-vintage-v12-s">About Vintage V-12's
      </h1>
      <h2 class="subhead">Vintage Engine Restoration Specialists
      </h2>
   </div>
</div>
<div class="row mt-5">
   <div class="col-md-12">
      <blockquote class="blockquote">
         <p class="mb-0">&quot;[In World War II], the fastest airplanes on the planet were powered by enormous, complex V-12 piston engines made by Rolls-Royce, Allison, Daimler-Benz. [Today] some of the very same engines are still running, powering weekend warbirds, museum artifacts, and Reno racers. Only a few mechanics in the United States have the knowledge, skills, equipment, and temperament to keep them flying.&quot;
         </p>
         <footer class="blockquote-footer">
            <cite title="Stephen Wilkinson">Stephen Wilkinson
            </cite>, &quot;Masters of the V-12&quot; Air &amp; Space Magazine, March 2002
         </footer>
      </blockquote>
   </div>
</div>
<div class="row mt-5 justify-content-md-center">
   <div class="col-md-6">
      <div class="card border border-primary">
         <div class="card-body text-center">
           <p><img src="//images.contentful.com/0c90ce5wuqxi/3v2XFGClna0QSYo8Y2UYcI/0cc0bc471c2513896a4d4818ac2d8076/excellence-line.svg" alt="excellence icon" width="120" height="120" /></p>
            <h4 class="card-title">Committment to Excellence</h4>
            <p>For over 40 years, Vintage V-12&#39;s has delivered quality and dependable vintage aircraft piston engine restorations and support services to customers world-wide.
            </p>
            <p>We have established a reputation as one of the world&#39;s leading vintage engine restoration companies.
            </p>
         </div>
      </div>
   </div>
</div>
<div class="row mt-5">
   <div class="col-md-12">
      <h2>Our Team</h2>
      <p>We credit our many years of success to our high standards, customer satisfaction, and our highly skilled and experienced team of technicians.</p>
   </div>
</div>
<div class="row my-3">
   <div class="col-md-6">
      <img src="//images.contentful.com/0c90ce5wuqxi/2u3R963vWEMMAOYQW0csqQ/1585b3687b0d8f33a99d9e171b97289e/V12s_Engines_-_11.jpg" class="img-responsive">
   </div>
   <div class="col-md-6">
      <h4 id="general-manager-jos-flores">General Manager — Jose Flores</h4>
      <p>Jose, the new &quot;master of the v-12&quot;, joined Vintage V-12s 33 years ago and has lived and breathed vintage aircraft engine restoration and rebuilding. He is one of the few today that have the breadth of knowledge and experience with World War II era aircraft engines, from the companies mainstay American Allisons, British Merlins, Griffons to German BMW 601 and 605's.</p>
   </div>
</div>
<div class="row my-5">
   <div class="col-md-6">
      <h4 id="lead-mechanic-steven-valenzuela">Mechanic — Steven Valenzuela</h4>
      <p>Former U.S. Air Force Crew Chief, has over 23 years experience at V-12's.</p>
   </div>
   <div class="col-md-6">
      <img src="//images.contentful.com/0c90ce5wuqxi/4xvnI6sIAgGWiYUiIAOA2q/c5f665b97fe7ded9764741e2d48d5711/steve_v_working.JPG">
   </div>
</div>
<div class="row my-5">
   <div class="col-md-6">
      <img src="//images.contentful.com/0c90ce5wuqxi/1k4heYlj9sqMkqeOMCquQK/7d0af5934c59f64ff281a7d4e89d52c5/juan_working.JPG">
   </div>
   <div class="col-md-6">
      <h4 id="mechanic-juan-dorador">Mechanic — Juan Dorador</h4>
      <p>Juan joined the team in 1994, and performs many of the engine teardowns, inspections and main assemblies.</p>
   </div>
</div>
<div class="row my-5">
   <div class="col-md-6">
      <h4 id="founder-mike-nixon">Founder — Mike Nixon</h4>
      <p>Mike Nixon started his first shop overhauling warbird engines in 1978 in Chino, California. Prior to that he worked for his brother on warbird restorations, and also spent four years working with Dave Zuschel in his warbird engine overhaul shop.
         In 1981 the name was changed to Vintage V-12&#39;s, Inc. Then in 1986, Mike moved the business to its current location in Tehachapi, California. To date, Mike has over 40 years of experience overhauling Merlin, Allison, Griffon, Bristol Centaurus &amp; DB601 engines.
      </p>
   </div>
   <div class="col-md-6">
      <img src="//images.contentful.com/0c90ce5wuqxi/6daWS3q080gI6EGoGS6qE0/31c2128af0cf2836a53fc4f4731ee12c/MikeBMW801-border.jpg" class="img-responsive">
   </div>
</div>
<div class="row my-5">
   <div class="col-md-12">
      <p class="lead text-center mb-3">Experience — Knowledge — Craftsmanship</p>
   </div>
</div>
    </default-layout>
</template>

<script>
import defaultLayout from '../src/layouts/default.vue'
export default {
    components: {
        'default-layout': defaultLayout
    },
    data() {
        return {
            page: {
    "title": "About Us",
    "slug": "about",
    "mainImage": {
        "sys": {
            "space": {
                "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "0c90ce5wuqxi"
                }
            },
            "id": "4Avuji1BTyWI2ee64YyUww",
            "type": "Asset",
            "createdAt": "2017-04-19T21:17:09.235Z",
            "updatedAt": "2017-04-19T21:17:09.235Z",
            "environment": {
                "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                }
            },
            "revision": 1,
            "locale": "en-US"
        },
        "fields": {
            "title": "csl p51 top",
            "file": {
                "url": "//images.ctfassets.net/0c90ce5wuqxi/4Avuji1BTyWI2ee64YyUww/d62571f2316ba8a8995a7e279f1bca79/csl_p51_top.jpg",
                "details": {
                    "size": 441647,
                    "image": {
                        "width": 1920,
                        "height": 1080
                    }
                },
                "fileName": "csl_p51_top.jpg",
                "contentType": "image/jpeg"
            }
        }
    }
}
        }
    },
}
</script>
