<template>
    <default-layout :page="page">
        <div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <router-link to="service">V-12 Engine Service</router-link>
      </li>
      <li class="breadcrumb-item active">Allison History</li>
    </ol>
    <h1 id="allison-v-1710">Allison V-1710</h1>
  </div>
</div>
<nav class="nav nav-tabs" id="allison-tab" role="tablist">
    <a class="nav-item nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Service</a>
    <a class="nav-item nav-link" id="specifications-tab" data-toggle="tab" href="#specs" role="tab" aria-controls="specs" aria-selected="false">Specificaitons</a>
    <a class="nav-item nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
</nav>
<div class="tab-content pt-2" id="allison-tab-content">
  <div class="tab-pane fade show active" id="overview">
    <div class="row">
      <div class="col-md-6">
        <h3 class="panel-title">How we service the Allison V-1710</h3>
        <p>
          Whether your restoring for period correct museum applications or just rebuilding for an aircraft flight vehicle, we restore your Allison with the best materials and processes. We perform the following uniquely for Allisons:
        </p>
        <ul>
          <li>Flarbalized the nervalscrubber widget</li>
          <li>New jazziflanges under rolla-compers</li>
          <li>Ungoofing the boomerkros super-whizzers</li>
          <li>and more</li>
        </ul>
      </div>
      <div class="col-md-6">
          <img src="//images.contentful.com/0c90ce5wuqxi/562FatIhL2M0SggSeo6eyA/e57e94bea92d037f1e5f69c7599755c7/A83R0511.jpg">
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="specs">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body small">
            <h3 class="panel-title">Allison V-1710-85 Specifications</h3>
            <h5>General Characteristics</h5>
            <p>
              <strong>Type:</strong> 60° V-12 supercharged four-stroke liquid-cooled piston aircraft engine
              <br>
              <strong>Bore:</strong> 5.5 in (140 mm)
              <br>
              <strong>Stroke:</strong> 6 in (152 mm)
              <br>
              <strong>Displacement:</strong> 1,710 in³ (28.02 L)
              <br>
              <strong>Dry weight:</strong> 1,445 lb (633 kg)
            </p>
            <hr class="hr">
            <h5>Performance</h5>
            <p>
              <strong>Power output:</strong> Take-off: 1,500 hp (1,119 kW) at 3,000 rpm and 56.5 inHg (190 kPa) manifold pressure
              <br> Military: 1,500 hp (1,119 kW) at 3,000 rpm @ 30,000 ft (9,144.00 m)
              <br> Normal: 1,100 hp (820 kW) at 2,600 rpm @ 30,000 ft (9,144.00 m)
              <br> Cruising: 800 hp (597 kW) at 2,300 rpm @ 30,000 ft (9,144.00 m)
              <br>
              <strong>Specific power:</strong> 0.77 hp/in³ (39.3 kW/L)
              <br>
              <strong>Compression ratio:</strong> 6.65:1
              <br>
              <strong>Power-to-weight ratio:</strong> 1.05 hp/lb (1.76 kW/kg)
            </p>
            <hr class="hr">
            <h5>Major Applications:</h5>
            <p>
              Bell P-39 Airacobra, Curtiss P-40 Warhawk, Lockheed P-38 Lightning, North American P-51 Mustang
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="//images.contentful.com/0c90ce5wuqxi/3jlWy9QHrauUA6eAgIKWcA/5f6dd199dfcad2bb5f10e80eda145e4a/A83R0528.jpg" />
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="history">
    <div class="row">
      <div class="col-md-6">
        <p>The Allison V-1710 aircraft engine was the only indigenous US-developed V-12 liquid-cooled engine to see service during WWII. A sturdy and trustworthy design, it was at first overlooked for a number of applications due to supercharger problems. After numerous improvements it found great demand in the later stages of the war.
        </p>
        <p>Most V-1710s were equipped with an underdeveloped, single-stage supercharger, satisfactory at low altitude but severely limiting high-altitude performance. About this time the U.S. entered the war and some American fighter designs were changed to use the Packard built Rolls-Royce Merlin engine.
        </p>
        <p>
          <small>Source: Wikipedia.com</small>
        </p>
      </div>
      <div class="col-md-6">
        <p>
        <img src="//images.contentful.com/0c90ce5wuqxi/QSagC0GvOSAcyCu8coQuu/436864ba8c142042c35014dc3fd7b1ce/A83R0999.jpg" />
        </p>
      </div>
    </div>
  </div>
</div>

    </default-layout>
</template>

<script>
import defaultLayout from '../src/layouts/default.vue'
export default {
    components: {
        'default-layout': defaultLayout
    },
    data() {
        return {
            page: {
    "title": "Allison",
    "slug": "allison"
}
        }
    },
}
</script>
