<template>
    <contact-layout :page="page">
        <h1>Contact Us</h1>
    </contact-layout>
</template>

<script>
import contactLayout from '../src/layouts/contact.vue'
export default {
    components: {
        'contact-layout': contactLayout
    },
    data() {
        return {
            page: {
    "browserTitle": "Contact Us",
    "title": "Contact Us",
    "slug": "contact",
    "mainImage": {
        "sys": {
            "space": {
                "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "0c90ce5wuqxi"
                }
            },
            "id": "4eKDMDI1lm0WekySmi2qkm",
            "type": "Asset",
            "createdAt": "2018-05-01T19:36:27.599Z",
            "updatedAt": "2018-05-01T19:36:27.599Z",
            "environment": {
                "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                }
            },
            "revision": 1,
            "locale": "en-US"
        },
        "fields": {
            "title": "Pack+Ship",
            "description": "Packing Merlin for shipment",
            "file": {
                "url": "//images.ctfassets.net/0c90ce5wuqxi/4eKDMDI1lm0WekySmi2qkm/a70b298d73c486240c51fe73ef09f50a/A83R0209.jpg",
                "details": {
                    "size": 398211,
                    "image": {
                        "width": 1620,
                        "height": 540
                    }
                },
                "fileName": "A83R0209.jpg",
                "contentType": "image/jpeg"
            }
        }
    }
}
        }
    },
}
</script>
