<template>
    <default-layout :page="page">
        <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><router-link to="service">V-12 Engine Service</router-link></li>
        <li class="breadcrumb-item active">Griffon History</li>
      </ol>
        <h1 id="rolls-royce-griffon">Rolls-Royce Griffon</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body small">
              <h3 class="panel-title">Griffon 65</h3>
                <h5>General Characteristics</h5>
                <p>
                    <strong>Type:</strong> 12-cylinder supercharged liquid-cooled 60° &quot;Vee&quot; aircraft
                    piston engine<br>
                    <strong>Manufacturer:</strong> Rolls-Royce<br>
                    <strong>Bore:</strong> 6 in (152.4 mm)<br>
                    <strong>Stroke:</strong> 6.6 in (167.6 mm)<br>
                    <strong>Displacement:</strong> 2,240 in³ (36.7 L)<br>
                    <strong>Dry weight:</strong> 1,980 lb (900 kg)
                </p>
                <hr class="hr">
                <h5>Performance</h5>
                <p>
                    <strong>Power output:</strong> 2,035 hp (1,520 kW) @ 7,000 ft (2,135 m MS gear), +18 psi boost pressure at 2,750 rpm<br> 
                    2,220 hp (1,655 kW) @ 11,000 ft (2,135 m MS gear), +21 psi at 2,750 rpm<br>
                    1,820 hp (1,360 kW) @ 21,000 ft (6,400 m) at 2,750 rpm<br>
                    <strong>Specific power:</strong> 0.91 hp/in³ (41.4 kW/L)<br>
                    <strong>Compression ratio:</strong> 6:1<br>
                    <strong>Power-to-weight ratio:</strong> 1.03 hp/lb (1.69 kW/kg)
                </p>
                <hr class="hr">
                <h5>Major Applications:</h5>
                <p>
                    Avro Shackleton, Fairey Firefly, Supermarine Spitfire
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <p><img src="//images.contentful.com/0c90ce5wuqxi/4aEDnIRMSseeiwGQo268K0/3840d827ee87313f5b972794b41cb8d4/A83R1136.JPG">
        </p>
        <p>The Griffon was designed prior to World War II and was originally intended as a low-altitude engine for
            naval aircraft such as the Fairey Firefly but a formal suggestion to fit a Griffon in a Spitfire was
            made by Joe Smith, who had taken over as Chief Designer at Supermarine&#39;s after Mitchell&#39;s death,
            in October 1939. However, work by Rolls-Royce on the engine had been halted temporarily to concentrate
            on the smaller 1,640 in³ (27L) Merlin which had already surpassed the output achieved with the early
            Griffon.</p>
        <p>Engine Components</p>
        <p>Valvetrain: Two intake and two exhaust valves per cylinder with sodium-cooled exhaust valve stems, actuated
            via an overhead camshaft. </p>
        <p>Supercharger: Two-speed two-stage centrifugal type supercharger, boost pressure automatically linked to
            the throttle, water-air aftercooler installed between the second stage and the engine.</p>
        <p>Fuel system: Triple-choke updraft carburetor with automatic mixture control </p>
        <p>Oil system: Dry sump with one pressure pump and two scavenge pumps.</p>
        <p>Cooling system: Ethylene glycol coolant mixture, pressurized</p>
        <p><small>Source: Wikipedia.com</small>
        </p>
    </div>
</div>
    </default-layout>
</template>

<script>
import defaultLayout from '../src/layouts/default.vue'
export default {
    components: {
        'default-layout': defaultLayout
    },
    data() {
        return {
            page: {
    "browserTitle": "Rolls-Royce Griffon",
    "title": "Griffon",
    "slug": "griffon"
}
        }
    },
}
</script>
