<template>
    <home-layout :page="page">
        <div id="content-section" class="container-fluid" :class="{'block-responsive': true, dt: !$root.checkMobile}">
    <div class="container">
        <div class="row pt-5 mb-5">
            <div class="col-md-12">
                <h1 id="vintage-v-12-engine-services">Vintage V-12 Engine Services</h1>
                <h2 class="subhead">Rebuild & Restore</h2>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <h2 id="merlin">Merlin</h2>
                <p>
                    <router-link class="fade-highlight" to="/merlin"><img src="//images.contentful.com/0c90ce5wuqxi/6QQX5EFnAk8wk0Q2YoIeYC/5b78a89e0315288abdabcfd2455a36e9/schem_merlin_engine.png" />
                    </router-link>
                </p>
            </div>
            <div class="col-md-6">
                <h2 id="griffon">Griffon</h2>
                <p>
                    <router-link class="fade-highlight" to="/griffon"><img src="//images.contentful.com/0c90ce5wuqxi/FUW9mkV6uI6goeI0E4yqA/a9c019a4498a28917f5274ab925a127f/schem_griffon_engine.png" />
                    </router-link>
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <h2 id="our-process">Our process</h2>
                <p>Every step of the process from disassembly, cleaning, inspection, to repair and reassembly and testing, is crucial to the performance and durability of our engines. Our attention to detail is why we can offer a 50 flight hour or 1 year warranty.</p>
                <p>
                    <router-link to="/process">Learn more about our process.</router-link>
                </p>
            </div>
            <div class="col-md-6">
                <h2 id="allison">Allison</h2>
                <p>
                    <router-link class="fade-highlight" to="/allison"><img src="//images.contentful.com/0c90ce5wuqxi/4Ag7IhWGRqMaWgI8S8eSmY/02d14432075dd968b72ebe0c57d0ae91/schem_allison_engine.png" />
                    </router-link>
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-12">
                <p class="text-center">
                   <router-link to="/service" class="btn-lg btn btn-outline-primary">V-12 Engine Service</router-link>
                </p>
            </div>
        </div>
    </div>
</div>
    </home-layout>
</template>

<script>
import homeLayout from '../src/layouts/home.vue'
export default {
    components: {
        'home-layout': homeLayout
    },
    data() {
        return {
            page: {
    "browserTitle": "Relive the power",
    "title": "Home",
    "slug": "home",
    "slider": {
        "sys": {
            "space": {
                "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "0c90ce5wuqxi"
                }
            },
            "id": "2q9KB34YZiOyyGgO8iokqA",
            "type": "Entry",
            "createdAt": "2018-06-20T16:54:35.223Z",
            "updatedAt": "2018-06-22T02:34:27.776Z",
            "environment": {
                "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                }
            },
            "revision": 4,
            "contentType": {
                "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "slides"
                }
            },
            "locale": "en-US"
        },
        "fields": {
            "title": "Home Slides",
            "slides": [
                {
                    "sys": {
                        "space": {
                            "sys": {
                                "type": "Link",
                                "linkType": "Space",
                                "id": "0c90ce5wuqxi"
                            }
                        },
                        "id": "6Xpg9ZxXs4Yo0sEsquAW8m",
                        "type": "Entry",
                        "createdAt": "2018-06-20T16:50:21.981Z",
                        "updatedAt": "2018-06-22T02:38:15.286Z",
                        "environment": {
                            "sys": {
                                "id": "master",
                                "type": "Link",
                                "linkType": "Environment"
                            }
                        },
                        "revision": 5,
                        "contentType": {
                            "sys": {
                                "type": "Link",
                                "linkType": "ContentType",
                                "id": "slide"
                            }
                        },
                        "locale": "en-US"
                    },
                    "fields": {
                        "title": "Red Merlin V-12 Slide",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "0c90ce5wuqxi"
                                    }
                                },
                                "id": "1bLBwz5MAak0UcsGI0SiIk",
                                "type": "Asset",
                                "createdAt": "2017-04-19T22:35:44.268Z",
                                "updatedAt": "2017-04-19T22:35:44.268Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "csl rebuilt v12 engine2",
                                "file": {
                                    "url": "//images.ctfassets.net/0c90ce5wuqxi/1bLBwz5MAak0UcsGI0SiIk/18b1f56389695468d0664eb47db43092/csl_rebuilt_v12_engine2.jpg",
                                    "details": {
                                        "size": 698012,
                                        "image": {
                                            "width": 1920,
                                            "height": 1080
                                        }
                                    },
                                    "fileName": "csl_rebuilt_v12_engine2.jpg",
                                    "contentType": "image/jpeg"
                                }
                            }
                        },
                        "content": "<div class=\"container\">\n                        <div class=\"row\">\n                            <div class=\"col-md-6\">\n                                <h1 id=\"we-are\">We Are</h1>\n                                <h2 class=\"subhead\">Preservers of history | gearheads</h2>\n                            </div>\n                            <div class=\"col-md-6\">\n                                <p class=\"heading-pad\">Over 40 years experience specializing in quality vintage WWII aircraft engine restorations, parts and worldwide services. Providing quality restoration services for Merlins, Allisons, and Griffons.</p>\n                            </div>\n                        </div>\n                    </div>"
                    }
                },
                {
                    "sys": {
                        "space": {
                            "sys": {
                                "type": "Link",
                                "linkType": "Space",
                                "id": "0c90ce5wuqxi"
                            }
                        },
                        "id": "12UcooqHmUeuWu8May2Go0",
                        "type": "Entry",
                        "createdAt": "2018-06-20T16:54:12.663Z",
                        "updatedAt": "2018-06-22T02:45:19.465Z",
                        "environment": {
                            "sys": {
                                "id": "master",
                                "type": "Link",
                                "linkType": "Environment"
                            }
                        },
                        "revision": 2,
                        "contentType": {
                            "sys": {
                                "type": "Link",
                                "linkType": "ContentType",
                                "id": "slide"
                            }
                        },
                        "locale": "en-US"
                    },
                    "fields": {
                        "title": "V-12 on test stand slide",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "0c90ce5wuqxi"
                                    }
                                },
                                "id": "4ZUZioST1ugC2WWKWIiC0c",
                                "type": "Asset",
                                "createdAt": "2017-04-19T21:17:09.317Z",
                                "updatedAt": "2017-04-19T21:17:09.317Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "csl rebuilt v12 engine1",
                                "file": {
                                    "url": "//images.ctfassets.net/0c90ce5wuqxi/4ZUZioST1ugC2WWKWIiC0c/9d82e6b57a695265b56ea30b527daefc/csl_rebuilt_v12_engine1.jpg",
                                    "details": {
                                        "size": 398277,
                                        "image": {
                                            "width": 1920,
                                            "height": 1080
                                        }
                                    },
                                    "fileName": "csl_rebuilt_v12_engine1.jpg",
                                    "contentType": "image/jpeg"
                                }
                            }
                        },
                        "content": "                    <div class=\"container\">\n                        <div class=\"row\">\n                            <div class=\"col-md-6\">\n                                <h1 id=\"vintage-air-power\">Vintage Air-power</h1>\n                                <h2 class=\"subhead\">V-12 Restoration</h2>\n                            </div>\n                            <div class=\"col-md-6\">\n                                <p class=\"heading-pad\">Over 500 engines restored, each backed by our standard warranty.</p>\n                            </div>\n                        </div>\n                    </div>"
                    }
                }
            ]
        }
    }
}
        }
    },
}
</script>
