<template>
    <gallery-layout :page="page">
        <div class="row">
    <div class="col-md-12">
        <h1>Media</h1>
        <h2 class="subhead">Photos &amp; Video</h2>
    </div>
</div>
    </gallery-layout>
</template>

<script>
import galleryLayout from '../src/layouts/gallery.vue'
export default {
    components: {
        'gallery-layout': galleryLayout
    },
    data() {
        return {
            page: {
    "browserTitle": "Photos and Video",
    "title": "Media Gallery",
    "slug": "media",
    "mediaGallery": [
        {
            "sys": {
                "space": {
                    "sys": {
                        "type": "Link",
                        "linkType": "Space",
                        "id": "0c90ce5wuqxi"
                    }
                },
                "id": "1bLBwz5MAak0UcsGI0SiIk",
                "type": "Asset",
                "createdAt": "2017-04-19T22:35:44.268Z",
                "updatedAt": "2017-04-19T22:35:44.268Z",
                "environment": {
                    "sys": {
                        "id": "master",
                        "type": "Link",
                        "linkType": "Environment"
                    }
                },
                "revision": 1,
                "locale": "en-US"
            },
            "fields": {
                "title": "csl rebuilt v12 engine2",
                "file": {
                    "url": "//images.ctfassets.net/0c90ce5wuqxi/1bLBwz5MAak0UcsGI0SiIk/18b1f56389695468d0664eb47db43092/csl_rebuilt_v12_engine2.jpg",
                    "details": {
                        "size": 698012,
                        "image": {
                            "width": 1920,
                            "height": 1080
                        }
                    },
                    "fileName": "csl_rebuilt_v12_engine2.jpg",
                    "contentType": "image/jpeg"
                }
            }
        },
        {
            "sys": {
                "space": {
                    "sys": {
                        "type": "Link",
                        "linkType": "Space",
                        "id": "0c90ce5wuqxi"
                    }
                },
                "id": "4ZUZioST1ugC2WWKWIiC0c",
                "type": "Asset",
                "createdAt": "2017-04-19T21:17:09.317Z",
                "updatedAt": "2017-04-19T21:17:09.317Z",
                "environment": {
                    "sys": {
                        "id": "master",
                        "type": "Link",
                        "linkType": "Environment"
                    }
                },
                "revision": 1,
                "locale": "en-US"
            },
            "fields": {
                "title": "csl rebuilt v12 engine1",
                "file": {
                    "url": "//images.ctfassets.net/0c90ce5wuqxi/4ZUZioST1ugC2WWKWIiC0c/9d82e6b57a695265b56ea30b527daefc/csl_rebuilt_v12_engine1.jpg",
                    "details": {
                        "size": 398277,
                        "image": {
                            "width": 1920,
                            "height": 1080
                        }
                    },
                    "fileName": "csl_rebuilt_v12_engine1.jpg",
                    "contentType": "image/jpeg"
                }
            }
        },
        {
            "sys": {
                "space": {
                    "sys": {
                        "type": "Link",
                        "linkType": "Space",
                        "id": "0c90ce5wuqxi"
                    }
                },
                "id": "6fdb1633mEK04gEgkWaMS",
                "type": "Asset",
                "createdAt": "2017-04-19T21:17:09.288Z",
                "updatedAt": "2017-04-19T21:17:09.288Z",
                "environment": {
                    "sys": {
                        "id": "master",
                        "type": "Link",
                        "linkType": "Environment"
                    }
                },
                "revision": 1,
                "locale": "en-US"
            },
            "fields": {
                "title": "csl v12 restored engine1",
                "file": {
                    "url": "//images.ctfassets.net/0c90ce5wuqxi/6fdb1633mEK04gEgkWaMS/f76cd89408b8399e72814cf0fca28229/csl_v12_restored_engine1.jpg",
                    "details": {
                        "size": 830242,
                        "image": {
                            "width": 1920,
                            "height": 1080
                        }
                    },
                    "fileName": "csl_v12_restored_engine1.jpg",
                    "contentType": "image/jpeg"
                }
            }
        },
        {
            "sys": {
                "space": {
                    "sys": {
                        "type": "Link",
                        "linkType": "Space",
                        "id": "0c90ce5wuqxi"
                    }
                },
                "id": "4xdxKZg1hKU8qiSmAEMEaC",
                "type": "Asset",
                "createdAt": "2017-05-01T19:02:53.206Z",
                "updatedAt": "2017-05-01T19:02:53.206Z",
                "environment": {
                    "sys": {
                        "id": "master",
                        "type": "Link",
                        "linkType": "Environment"
                    }
                },
                "revision": 1,
                "locale": "en-US"
            },
            "fields": {
                "title": "vintage-v12s-restored-engine-merlin",
                "file": {
                    "url": "//images.ctfassets.net/0c90ce5wuqxi/4xdxKZg1hKU8qiSmAEMEaC/c95ce897849b3546216ab352cd275bb5/vintage-v12s-restored-engine-merlin.jpg",
                    "details": {
                        "size": 56172,
                        "image": {
                            "width": 450,
                            "height": 299
                        }
                    },
                    "fileName": "vintage-v12s-restored-engine-merlin.jpg",
                    "contentType": "image/jpeg"
                }
            }
        },
        {
            "sys": {
                "space": {
                    "sys": {
                        "type": "Link",
                        "linkType": "Space",
                        "id": "0c90ce5wuqxi"
                    }
                },
                "id": "5QUtKuERBCgWCUu6C8k48O",
                "type": "Asset",
                "createdAt": "2017-05-01T19:02:53.387Z",
                "updatedAt": "2017-10-25T19:43:53.356Z",
                "environment": {
                    "sys": {
                        "id": "master",
                        "type": "Link",
                        "linkType": "Environment"
                    }
                },
                "revision": 2,
                "locale": "en-US"
            },
            "fields": {
                "title": "vintage-v12s-restored-engine",
                "file": {
                    "url": "//images.ctfassets.net/0c90ce5wuqxi/5QUtKuERBCgWCUu6C8k48O/dfb6dd7c2c29d02765863815fb54126e/vintage-v12s-restored-engine-griffon.jpg",
                    "details": {
                        "size": 43153,
                        "image": {
                            "width": 450,
                            "height": 300
                        }
                    },
                    "fileName": "vintage-v12s-restored-engine-griffon.jpg",
                    "contentType": "image/jpeg"
                }
            }
        },
        {
            "sys": {
                "space": {
                    "sys": {
                        "type": "Link",
                        "linkType": "Space",
                        "id": "0c90ce5wuqxi"
                    }
                },
                "id": "3Dke2aizfqEo4eWOyoe2Uk",
                "type": "Asset",
                "createdAt": "2017-05-01T19:02:53.420Z",
                "updatedAt": "2017-05-01T19:02:53.420Z",
                "environment": {
                    "sys": {
                        "id": "master",
                        "type": "Link",
                        "linkType": "Environment"
                    }
                },
                "revision": 1,
                "locale": "en-US"
            },
            "fields": {
                "title": "vintage-v12s-restored-engine-allison",
                "file": {
                    "url": "//images.ctfassets.net/0c90ce5wuqxi/3Dke2aizfqEo4eWOyoe2Uk/3f7260ddf87a1e572e44c88ec996f866/vintage-v12s-restored-engine-allison.jpg",
                    "details": {
                        "size": 46380,
                        "image": {
                            "width": 450,
                            "height": 299
                        }
                    },
                    "fileName": "vintage-v12s-restored-engine-allison.jpg",
                    "contentType": "image/jpeg"
                }
            }
        }
    ]
}
        }
    },
}
</script>
