<template>
    <default-layout :page="page">
        <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><router-link to="service">V-12 Engine Service</router-link></li>
        <li class="breadcrumb-item active">Merlin History</li>
      </ol>
        <h1 id="rolls-royce-merlin">Rolls-Royce Merlin</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body small">
                <h3 class="card-title">Merlin / Packard V-1650-61</h3>
                <h5>General Characteristics</h5>
                <p>
                    <strong>Type:</strong> 12-cylinder, supercharged, liquid-cooled, 60° &quot;Vee&quot;, piston
                    aircraft engine.<br>
                    <strong>Manufacturer:</strong> Rolls-Royce / Licensed to Packard<br>
                    <strong>Bore:</strong> 5.4 in (137 mm)<br>
                    <strong>Stroke:</strong> 6 in (152 mm)<br>
                    <strong>Displacement:</strong> 1,647 in³ (27 L)<br>
                    <strong>Dry weight:</strong> 1,640 lb (744 kg)
                </p>
                <hr class="hr">
                <h5>Performance</h5>
                <p>
                    <strong>Power output: (Merlin 61)</strong>
                    <br> 1,290 hp (962 kW) at 3,000 rpm at take-off.
                    <br> 1,565 hp (1,167 kW) at 3,000 rpm at 12,250 ft (3,740 m, MS gear)[nb 18]
                    <br> 1,580 hp (1,178 kW) at 3,000 rpm at 23,500 ft (7,200 m, FS gear)<br>
                    <strong>Specific power:</strong> 0.96 hp/cu in (43.6 kW/L)<br>
                    <strong>Compression ratio:</strong> 6:1<br>
                    <strong>Fuel consumption:</strong> Minimum 30 Imp gal/h (136 L/h), maximum 130 Imp gal/h (591 L/h)[nb 19]<br>
                    <strong>Power-to-weight ratio:</strong> 0.96 hp/lb (1.58 kW/kg) at maximum power.
                </p>
                <hr class="hr">
                <h5>Major Applications:</h5>
                <p>
                    Avro Lancaster, de Havilland Mosquito, Handley Page Halifax, Hawker Hurricane, Supermarine Spitfire, P-40 (Packard),
                    P-51 (Packard)
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <p><img src="//images.contentful.com/0c90ce5wuqxi/69FdDB7SGAMGCgouukyC2W/122e91754ebbee8a2d9373bbb906a715/A83R1805.JPG">
        </p>
        <p>The Merlin was a 12 cylinder, 60° &quot;V&quot;, 27 litre, liquid cooled piston aircraft engine built during
            World War II by Rolls-Royce and under licence in the United States by Packard. </p>
        <p>It was one of the three best aero engines in the world at that time, and powered many notable warplanes.
            The Merlin name came from a bird (a small falcon also known as &quot;pigeon hawk&quot;) rather than
            King Arthur&#39;s legendary magician.</p>
        <p>Engine Components</p>
        <p>Valvetrain: Overhead camshaft-actuated, two intake and two exhaust valves per cylinder, sodium-cooled exhaust
            valve stems</p>
        <p>Supercharger: Two-speed two-stage, boost pressure automatically linked to the throttle, water-air aftercooler
            installed between the second stage and the engine.</p>
        <p>Fuel system: Twin-choke updraft carburetor with automatic mixture control Oil system: Dry sump with one
            pressure pump and two scavenge pumps.</p>
        <p>Cooling system: Water and ethylene glycol coolant mixture, pressurized.</p>
        <p><small>Source: Wikipedia.com</small>
        </p>
    </div>
</div>
    </default-layout>
</template>

<script>
import defaultLayout from '../src/layouts/default.vue'
export default {
    components: {
        'default-layout': defaultLayout
    },
    data() {
        return {
            page: {
    "browserTitle": "Rolls-Royce Merlin",
    "title": "Merlin",
    "slug": "merlin"
}
        }
    },
}
</script>
