<template>
    <default-layout :page="page">
        <div class="row">
   <div class="col-md-6">
      <h1>Parts</h1>
      <h2 id="new-vintage-aircraft-engine-parts" class="subhead">New &amp; Vintage Aircraft Engine Parts</h2>
  </div>
  <div class="col-md-6">
      <p>We have over 7,000 square feet of warehouse space dedicated to full engines, engine sub-parts and consumable parts storage. Some of the which are still in their original packaging.</p>
   </div>
</div>
<div class="row my-4">
   <div class="col-md-6">
      <p><img src="//images.contentful.com/0c90ce5wuqxi/1kQxb9yvTi0oEk8EC2a2AS/76d08b36b740d7b2dffeb3364b2e263e/Engine_Parts_Storage_2.jpg"></p>
      <p>Vintage V-12&#39;s has acquired a large number of original parts to add to its inventory over the years.</p>
      <p>Replacement parts, such as gaskets and o-rings, use the latest materials which help improve the service
         life of the engine.
      </p>
      <p><img src="//images.contentful.com/0c90ce5wuqxi/1aH1eu4NPA4AGyU6AeYia8/c24cc44552a4cf76e0e88bd732388b1f/Engine_Parts_Storage_1.jpg"></p>
   </div>
   <div class="col-md-6">
      <p><img src="//images.contentful.com/0c90ce5wuqxi/21O9cOIV3eqi44WusAMYOc/a271bf3e1893f7ededd35dd9c0f55534/crankshafts.jpg"></p>
   </div>
</div>
    </default-layout>
</template>

<script>
import defaultLayout from '../src/layouts/default.vue'
export default {
    components: {
        'default-layout': defaultLayout
    },
    data() {
        return {
            page: {
    "browserTitle": "New & Vintage Aircraft Engine Parts",
    "title": "Parts",
    "slug": "parts",
    "mainImage": {
        "sys": {
            "space": {
                "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "0c90ce5wuqxi"
                }
            },
            "id": "5wkX4QHXPiSgcOqWq0w4m8",
            "type": "Asset",
            "createdAt": "2017-10-09T22:46:32.716Z",
            "updatedAt": "2017-10-09T22:51:46.643Z",
            "environment": {
                "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                }
            },
            "revision": 2,
            "locale": "en-US"
        },
        "fields": {
            "title": "Hero V-12 Valvetrain",
            "file": {
                "url": "//images.ctfassets.net/0c90ce5wuqxi/5wkX4QHXPiSgcOqWq0w4m8/63c159dbba30ed74dcd81a33a3a9853a/IMG_0940.JPG",
                "details": {
                    "size": 1115136,
                    "image": {
                        "width": 1920,
                        "height": 1080
                    }
                },
                "fileName": "IMG_0940.JPG",
                "contentType": "image/jpeg"
            }
        }
    }
}
        }
    },
}
</script>
