<template>
    <default-layout :page="page">
        <div class="row">
    <div class="col-md-6">
        <h1>{{page.title}}</h1>
        <h2 class="subhead">{{page.subTitle}}</h2>
    </div>
    <div class="col-md-6">
        <p>Restoring a vintage aircraft engine involves a number of important steps to ensure it will meet the original manufacturer performance specifications. Here is an overview of the major steps in making and old engine a Vintage V-12&#39;s restored engine.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2 id="overview">Overview</h2>
        <ol>
            <li><a href="#1-receiving-project-start">Receiving</a></li>
            <li><a href="#2-disassembly-cleaning">Disassembly/Cleaning</a></li>
            <li><a href="#3-inspection">Inspection</a></li>
            <li><a href="#4-repair">Repair</a></li>
            <li><a href="#5-accessories">Accessories</a></li>
            <li><a href="#6-engine-reassembly">Engine Reassembly</a></li>
            <li><a href="#7-engine-testing">Engine Testing</a></li>
        </ol>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <hr class="hr">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 id="1-receiving-project-start">1. Receiving — Project Start</h3>
        <p>Each engine project is assigned a work order number and a notebook is created to follow the engine through
            the entire restoration process. The notebook provides full details of each part&#39;s condition, measurements,
            repair work required, and who accomplished the work.</p>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            <img src="//images.contentful.com/0c90ce5wuqxi/4I01MxYNEcuU0kw2oOC6Y/7c79fbc8684ce897860965a5a090e0de/A83R0004.JPG" class="figure-img img-fluid" alt="Griffon received and unboxed">
            <figcaption class="figure-caption text-right">Griffon received and unboxed</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 id="2-disassembly-cleaning">2. Disassembly/Cleaning</h3>
        <p>The customer&#39;s engine is completely disassembled and a preliminary inspection is made to assess damage,
            wear and corrosion. </p>
        <p>After the inspection has been completed, all parts and components are thoroughly cleaned.</p>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            <img src="//images.contentful.com/0c90ce5wuqxi/2AWgwe6Uq86SmGe84K8Ikm/4d911712eca0fea2f44f90ebebcc0875/IMG_0912.jpg" class="figure-img img-fluid" alt="Alejandro detailing banks">
            <figcaption class="figure-caption text-right">Alejandro detailing banks</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 id="3-inspection">3. Inspection</h3>
        <p>Non-Destructive Testing (NDT) is performed to verify the integrity of critical engine parts prior to use.
            Non-magnetic parts receive a Zyglo inspection and steel parts receive a Magnaflux inspection. </p>
        <p>In addition, all appropriate parts are dimensionally inspected for compliance with manufacturer specifications
            and a visual inspection is performed on all parts for any abnormalities. </p>
        <p>Service Bulletins and technical notes are reviewed for applicability. A complete list of parts is made
            and those requiring repair work are identified.</p>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            <img src="//images.contentful.com/0c90ce5wuqxi/6sZw8GojhS0swowiMK4kWY/32411be6bc2c0c1a901a146fef918734/A83R0680.jpg" class="figure-img img-fluid" alt="Steve performing rod inspection">
            <figcaption class="figure-caption text-right">Steve performing rod inspection</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 id="4-repair">4. Repair</h3>
        <p>Most repairs can be accomplished in our shop, saving you both time and money. All repairs are done within
            the manufacturer&#39;s specifications.</p>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            <img src="//images.contentful.com/0c90ce5wuqxi/HpxLI9fSCssQkc8cyq4eI/b8f569e7c66f6445957f7ee12998ea0a/IMG_3138.jpg" class="figure-img img-fluid" alt="Matt valve grinding">
            <figcaption class="figure-caption text-right">Matt valve grinding</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 id="5-accessories">5. Accessories</h3>
        <p>Overhauled starters, coolant pumps, aftercoolant pumps, shift solenoids and ignition harnesses are kept
            in stock and provided for each engine restoration.</p>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            <img src="//images.contentful.com/0c90ce5wuqxi/3LCPSMOZkImoE0MeeagQa4/957e690792873ae30abd0bca7c8901e5/IMG_3130.jpg" class="figure-img img-fluid" alt="P-82 Reduction Gear">
            <figcaption class="figure-caption text-right">P-82 Reduction Gear</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 id="6-engine-reassembly">6. Engine Reassembly</h3>
        <p>Our experienced technicians assemble your engine and inspections are performed at various stages during
            the process. After the final inspection, the completed engine is ready to be test run.</p>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            <img src="//images.contentful.com/0c90ce5wuqxi/FT3HLs33EYuGiKwa408W4/792fe18abc81d9b3dcd7bab9cbd63275/IMG_3045.jpg" class="figure-img img-fluid" alt="Steve performing crankshaft assembly">
            <figcaption class="figure-caption text-right">Steve performing crankshaft assembly</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="hr">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 id="7-engine-testing">7. Engine Testing</h3>
        <p>All engines are test run for a minimum of 5 hours at regular power increases to allow critical components
            to break in and to ensure it meets performance standards. After the testing is complete the engine
            is ready for final inspection prior to shipping to the customer. [video link]</p>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            <img src="//images.contentful.com/0c90ce5wuqxi/1nWO9VbJXqygWi20wUOkwu/ea23cda7bb0a3bebc506d4fc7954f113/A83R0629.jpg" class="figure-img img-fluid" alt="Merlin test run">
            <figcaption class="figure-caption text-right">Merlin test run</figcaption>
        </figure>
    </div>
</div>
    </default-layout>
</template>

<script>
import defaultLayout from '../src/layouts/default.vue'
export default {
    components: {
        'default-layout': defaultLayout
    },
    data() {
        return {
            page: {
    "browserTitle": "Our V-12 Engine Restoration Process",
    "title": "Process",
    "slug": "process",
    "mainImage": {
        "sys": {
            "space": {
                "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "0c90ce5wuqxi"
                }
            },
            "id": "4J9IrCGlywYk8m6yKSsAQI",
            "type": "Asset",
            "createdAt": "2017-10-09T22:18:53.304Z",
            "updatedAt": "2017-10-09T22:19:45.777Z",
            "environment": {
                "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                }
            },
            "revision": 2,
            "locale": "en-US"
        },
        "fields": {
            "title": "Hero - Allison test run flames",
            "file": {
                "url": "//images.ctfassets.net/0c90ce5wuqxi/4J9IrCGlywYk8m6yKSsAQI/664f12dfbe7d980125bcf6fa13487cc6/A83R0641.JPG",
                "details": {
                    "size": 1082715,
                    "image": {
                        "width": 1920,
                        "height": 1080
                    }
                },
                "fileName": "A83R0641.JPG",
                "contentType": "image/jpeg"
            }
        }
    }
}
        }
    },
}
</script>
