<template>
    <default-layout :page="page">
        <div class="row">
   <div class="col-md-6">
      <h1>V-12 Engine Service</h1>
      <h2 class="subhead">Quality and Dependable Engine Restorations</h2>
   </div>
   <div class="col-md-6">
      <p>Vintage V-12&#39;s specializes in restorations of vintage piston-powered engines, specifically, Allisons, Griffons and Merlins. We have performed over 500 restorations to the vintage aircraft engines. Our goal is to restore your engine to meet or exceed the level of performance, durability and reliability as the original engine.<br>
         <router-link to="/contact">Start your project</router-link>
      </p>
   </div>
</div>
<div class="row my-5">
   <div class="col-md-4">
      <h2>Allison</h2>
      <p>
         <router-link to="/allison">
           <img src="//images.contentful.com/0c90ce5wuqxi/4YzAnWBFeMAoqq8YOe62k6/638db0d17ab6d295dacba7ac3d6a5a12/A83R0522.jpg" title="Allison Service" alt="Restored Allison Engine" class="rounded" />
           </router-link>
       </p><p>
          <router-link to="/allison" class="btn btn-block btn-sm btn-outline-secondary">Allison Engine</router-link>
      </p>
   </div>
   <div class="col-md-4">
      <h2>Griffon</h2>
      <p>
         <router-link to="/griffon">
           <img src="//images.contentful.com/0c90ce5wuqxi/7ncIdH4WukiKAsO2OU0yKg/b3e2253b23759e3e9846443b59d0da17/A83R1289.jpg" title="Griffon Service" alt="Restored Griffon engine" class="rounded" />
           </router-link>
       </p><p>
         <router-link to="/griffon" class="btn btn-block btn-sm btn-outline-secondary">Griffon Engine</router-link>
      </p>
   </div>
   <div class="col-md-4">
      <h2>Merlin</h2>
      <p>
         <router-link to="/merlin">
           <img src="//images.contentful.com/0c90ce5wuqxi/DQHJr97kUCUWqW42UmWs8/d6fd473b779ab065a5820fc3c3691fa7/DSC_0039.JPG" title="Merlin Service" alt="Restored Merlin Engine" class="rounded" />
         </router-link>
       </p><p>
         <router-link to="/merlin" class="btn btn-block btn-sm btn-outline-secondary">Merlin Engine</router-link>
      </p>
   </div>
</div>
<div class="row my-5 justify-content-md-center">
   <div class="col-md-10">
      <div class="card">
         <div class="card-body">
            <h4 class="text-center"><router-link to="/process">Vintage V-12's Restoration Process <img src="../src/assets/process-gear.svg" style="width:5rem;margin-left:2rem;" /></router-link></h4>
         </div>
      </div>
   </div>
</div>
<div class="row my-5 justify-content-md-center">
   <div class="col-md-5 text-center">
      <img src="//images.contentful.com/0c90ce5wuqxi/xlL6WOvM1queWGCoYEyOE/e163068d2eba52b076b40985f60f98de/engine-icon.svg" style="max-width:70%" class="center-block" />
      <h2>Improved Engine Life</h2>
      <p>We use modern materials and technology to provide our restored V-12 engines with enhanced service lives.</p>
   </div>
   <div class="col-md-5 text-center">
      <img src="//images.contentful.com/0c90ce5wuqxi/4E1hdpD6ZWokmGooI4Gcey/3a4bb90004646b4f7979bfdb5b1549c4/warranty-icon.svg" style="max-width:70%" class="center-block" />
      <h2>Warranty</h2>
      <p>We gurantee our engine restorations for <br> 50 hours or one year of operation.</p>
   </div>
</div>
<div class="row my-5 justify-content-md-center">
   <div class="col-md-10">
      <div class="card">
         <div class="card-body">
            <h2 class="card-title">Parts</h2>
            We also maintain a large inventory of original parts which includes many full engines, engine sub-parts and consumable parts such as gaskets and o-rings.<br>
            <p class="text-right">
               <router-link to="/parts">Learn more</router-link>
            </p>
         </div>
      </div>
   </div>
</div>
<div class="row my-5 justify-content-md-center">
   <div class="col-md-10">
      <h1 id="common-questions">Common Questions</h1>
      <ol>
         <li><strong class="text-info">How long does it take to overhaul an engine?</strong><br>
         The Merlin: 4 to 5 months.<br>
         The Allison: 3 to 4 months.<br>
         The Griffon: 7 to 10 months.</li>
         <li><strong class="text-info">How many hours can I put on my engine before it needs an overhaul?</strong><br>
         We like to see the engines back after 700 hours. We have seen engines with 900 to 1000 hours, but the longer it goes, the more parts it needs at overhaul (such as crank, rods, valves, heads, etc.).</li>
         <li><strong class="text-info">What color do you paint the engines?</strong><br>
         We can paint the engine any color you like. The most common choices are red, gray, and black.</li>
         <li><strong class="text-info">Do you test run the engines with a propeller installed?</strong><br> 
         Yes, and the engines are test run for a period of 5 hours through different power settings including take-off power at 3,000 rpm and 61 inches of boost.</li>
      </ol>
   </div>
</div>


    </default-layout>
</template>

<script>
import defaultLayout from '../src/layouts/default.vue'
export default {
    components: {
        'default-layout': defaultLayout
    },
    data() {
        return {
            page: {
    "browserTitle": "Engines We Service",
    "title": "Engines We Service",
    "slug": "service",
    "mainImage": {
        "sys": {
            "space": {
                "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "0c90ce5wuqxi"
                }
            },
            "id": "5P4M6yupva6ocE8O20uCqq",
            "type": "Asset",
            "createdAt": "2017-10-09T22:39:47.536Z",
            "updatedAt": "2017-10-09T22:39:47.536Z",
            "environment": {
                "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                }
            },
            "revision": 1,
            "locale": "en-US"
        },
        "fields": {
            "title": "V-12's Shop",
            "file": {
                "url": "//images.ctfassets.net/0c90ce5wuqxi/5P4M6yupva6ocE8O20uCqq/0e5b4b059c0e2680d12ee1f145c93b27/A83R0722.JPG",
                "details": {
                    "size": 1752247,
                    "image": {
                        "width": 1920,
                        "height": 1080
                    }
                },
                "fileName": "A83R0722.JPG",
                "contentType": "image/jpeg"
            }
        }
    }
}
        }
    },
}
</script>
