<template>
    <div id="App">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <router-link to="/" class="navbar-brand">
                    <img class="logo-image" src="./assets/vintage-v12s-logo-red-150.png" :alt="$root.siteMeta.companyDisplayName + ' logo'" :title="$root.siteMeta.companyDisplayName" />
                    Vintage V12's
                </router-link>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-main" ref="nav">
                    <ul class="navbar-nav ml-auto">
                        <li v-for="(item, key, index) in $root.siteMeta.mainNav.items" v-if="item.order !== 0" class="nav-item" v-on:click="toggleNavCollapse" v-bind:key="index">
                            <router-link :to="'/' + item.slug" class="nav-link">{{item.title}}</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="fade-under"></div>
        <div class="bar bar-pos bar-vertical">
            <img src="./assets/vintage_engines_vert.png" alt="Vintage Engines" />
        </div>

        <scroller>
            <transition name="fade">
                <router-view></router-view>
            </transition>
            <footerNav />
        </scroller>

        <notifications :loading="loading" :error="error" />
    </div>
</template>

<script>
import browserTitle from './lib/browser-title'
import notifications from './components/notifications'
export default {
    name: 'App',
    mixins: [browserTitle],
    components: {
        notifications
    },
    data() {
        return {
            loading: false,
            error: null,
            scroll: 0
        }
    },
    methods: {
        toggleNavCollapse(e) {
            $(this.$refs.nav).toggleClass('show')
        }
    }
};
</script>

<style lang="scss">
.logo-image {
    width: 65px;
    height: auto;
}
@import "./styles/style.scss";
.vueperslides__slide {
    position: relative;
}
.vueperslides__slide-content {
    position: absolute;
    text-align: left;
    background: rgba(darken($navy-blue, 10%), 0.6);
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 200px;
}
</style>
