<template>
    <div>
        <hero-section :image="page.mainImage.fields.file.url" :bumpcontent="true" v-if="page.mainImage"></hero-section>
        <div :class="{'hero-page': page.mainImage, 'page': !page.mainImage}">
            <section id="content"  class="block-responsive container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <slot></slot>
                        <address v-if="$root.siteMeta.address">
                            {{$root.siteMeta.companyName}}<br/>
                            {{$root.siteMeta.address.addressLine1}}, {{$root.siteMeta.address.addressLine2}}<br/>
                            {{$root.siteMeta.address.city}}, {{$root.siteMeta.address.state}} {{$root.siteMeta.address.zip}}<br/>
                        </address>
                        <contact-form></contact-form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import heroSection from '../components/hero-section'
import contactForm from '../components/contact-form.vue'
export default {
    name: 'contact',
    components: {
        'hero-section': heroSection,
        'contact-form': contactForm
    },
    props: {
        page: {
            default: undefined
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
</style>
