<template>
    <div>
        <hero-section :image="page.mainImage.fields.file.url" :bumpcontent="false" v-if="page.mainImage"></hero-section>
        <div :class="{'hero-page': page.mainImage, 'page': !page.mainImage}">
            <section id="content" class="block-responsive container">
                <slot></slot>
            </section>
        </div>
    </div>
</template>

<script>
import heroSection from '../components/hero-section'
export default {
    name: 'default-layout',
    components: {
        'hero-section': heroSection
    },
    props: {
        page: {
            default: undefined
        }
    }
}
</script>
