<template>
    <div>
        <div class="page">
            <div id="content" class="block-responsive container">
                <nav class="nav">
                    <router-link to="/media" :class="{'nav-item nav-link': true, 'disabled': isSelectedGallery}">Featured</router-link>
                    <router-link
                        :to="'/media/'+ index"
                        :key="index"
                        v-for="(gallery, index) in page.galleries"
                        class="nav-item nav-link"
                        :class="{disabled: index == $route.params.galleryId}"
                    >{{gallery.fields.title}}</router-link>
                </nav>
            </div>

            <div class="container-fluid my-5">
                <gallery-grid :mediaGallery="selectedGallery"></gallery-grid>
            </div>
        </div>

    </div>
</template>

<script>
import galleryGrid from '../components/gallery-grid'
export default {
    props: {
        page: {
            default: undefined
        }
    },
    computed: {
        selectedGallery() {
            if (this.$route && this.$route.params.galleryId) {
                return this.page.galleries[this.$route.params.galleryId].fields
            } else {
                return { title: 'Featured', description: '', galleryItems: this.page.mediaGallery }
            }
        },
        isSelectedGallery() {
            if (typeof this.$route.params.galleryId === 'string') {
                return false
            }
            return true
        }
    },
    components: {
        'gallery-grid': galleryGrid
    }
}
</script>

<style lang="scss" scoped>
</style>
