<template>
    <div>
        <div class="home-layout pb-5">
            <transition name="fade">
                <div v-if="page">
                    <div class="container-fluid">
                        <div class="darken"></div>
                        <vueper-slides>
                            <vueper-slide v-for="(slide) in page.slider.fields.slides"
                                :key="slide.sys.id"
                                :title="slide.title"
                                :image="slide.fields.image.fields.file.url"
                                :content="slide.fields.content"></vueper-slide>
                        </vueper-slides>
                    </div>
                    <slot></slot>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import { VueperSlides, VueperSlide } from 'vueperslides'

export default {
    name: 'home',
    props: {
        page: {
            default: undefined
        }
    },
    components: {
        VueperSlides,
        VueperSlide
    }
};
</script>

<style lang="scss">
.home-layout {
    .carousel-item {
        max-height: 900px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
#content-section.dt {
    background-image: url('../assets/v12s_merlin_rebuild_lg_bg.gif');
    background-position: center;
    background-repeat: no-repeat;
}
</style>
